

.button{
    border-radius: 3px !important;
    margin: 5px;
    width: 50%;
}

.contorno-form{
    width: 50%;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

